body {
    font-family: Arial, sans-serif;
    background-color: #FFF8D6;
    color: #617A55;
    margin: 0;
}

h2 {
    text-align: center;
    background-color: #A4D0A4;
    padding: 15px;
    color: #617A55;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #617A55;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background-color: #A4D0A4;
    color: #617A55;
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #617A55;
    color: #A4D0A4;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F7E1AE;
    border: 1px solid #617A55;
}