body {
    font-family: Arial, sans-serif;
    background-image: url("3d-houten-lijst-tegen-grungemuur-met-licht-dat-van-de-linkerzijde-glanst.jpg");
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-size: cover;
}

h2 {
    padding: 15px;
    color: #fff;
    margin-top: 0;
    text-align: center;
}

.form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFF8D6;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    opacity: 0.5;
}

button {
    color: #fff;
    padding: 12px;
    cursor: pointer;
    border-bottom: solid;
    border-radius: 4px;
    background-color: transparent;
    margin-bottom: 20px;
}

button:hover {
    color: black;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: black;
}