.search-bar {
    width: 500px;
}

#zoektekst {
    width: 100%;
    border: 3px solid #0f6fef;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #4276bc;
}

#zoektekst:focus {
    font-size: 1.1rem;
}

#grid {
    width: 800px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#grid .cell {
    background: #e2e9eb;
    border: 1px solid white;
    padding: 10px;
    opacity: 50%;
}